<div class="level has-background-primary is-marginless">
      <span class='level-left'>
        <span class=' subtitle '> 
          &nbsp; Fly New Sky 
        </span>
      </span>
      <span class='level-right'>
        <button class='button is-primary is-pulled-right'
              (click)='hamburgOnOffClick()'    
        > 
            &equiv; 
        </button>
      </span>
</div>

  <div class='panel is-info' *ngIf="showMenuTf">
    <div class="panel-heading"> 
      Menu
    </div>
    
    <p class="panel-tabs">
      <button class='button'>Profile</button>
      <button class='button'>Routes</button>
      <button class='button'>Airports, Waypoints & Overlays</button>
    </p>

   <label class="switchPoo"> 
      <input  type="checkbox" (click)='routeOnOffClick()'>
      <span class="sliderPoo"> </span>
    </label>
    <span > &nbsp; Map Click-to-Route &nbsp; {{routeOnOffTxt}} </span>
  <ul>
    <li *ngFor="let item of items" >      
      <a class="panel-block"> {{item}} </a>
    </li>
  </ul>
</div> 
  <app-map1 
    [inputMsg1FromParent]="msg1" 
    [inputRouteOnOffFromParent]="routeOnOffTxt" 
    class='gt2'    
  >
    <!--  see inputMsg1FromParent in map1.component.ts   -->
    <!--  see msg1                in app.component.ts    -->
    <!--  component stuff magically fills into app-map1  -->
  </app-map1>
  
  
